@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);

//colors
$primary-color   : #34495e;

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: $primary-color;
}

.section {
    max-width: 1000px;
    margin: 85px auto;
    .description{
        text-align: center;
        padding: 50px 50px;
        color:lightgrey;
    }
}

